$color-highlight: #ba3638;

.candidate{
  $this: &;

  width: 100%;
  display: table;

  position: relative;
  margin: 0;
  padding: 15px;

  cursor: pointer;
  color: #707070;

  &.even {
    background-color: #f2f1f1;
  }

  &:hover{
    background-color: $color-highlight;

    #{$this} {
      &__picture{
        div{
          border-color: #fff;
        }
      }

      &__description{
        h2{
          color: #fff;
        }

        p{
          color: #272727;
        }
      }
    }
  }

  &__picture{
    width: 70px;
    display: table-cell;
    vertical-align: middle;
    position: relative;

    div{
      width: 70px;
      height: 70px;

      border-radius: 50%;
      overflow: hidden;

      text-align: center;
      border: 3px solid $color-highlight;

      img{
        max-width: none;
        max-height: 100%;
        transform: translateX(-12.5%);
      }
    }

    span{
      width: 21px;
      height: 21px;
      margin-left: auto;
      margin-top: -22px;

      background-color: #fff;
      border: 1px solid currentColor;

      display: block;
      border-radius: 50%;

      text-align: center;
      font-weight: 700;
      font-size: 14px;
      line-height: 21px;

      position: relative;
      z-index: 1px;
    }
  }

  &__description{
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;

    h2{
      margin: 0 0 4px;
      font-size: 18px;
      color: $color-highlight;
      letter-spacing: -1px;
    }

    p{
      margin: 0;
      font-size: 12px;
    }
  }
}
