.header{
  &__img{
    margin-bottom: -60px;
    margin-left: -32px;
  }

  &__title{
    max-width: 80%;
    margin: 0 0 0 auto;
    padding: 8px 0 8px 20%;

    background-color: #fff;

    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -4px;
  }
}
