$color-highlight: #ba3638;

.rating{
  position: absolute;
  left: 104%;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 0 0 15px;
  opacity: 0;
  visibility: hidden;
  transition: .2s ease-in-out;

  @media screen and (max-width: 768px) {
    position: static;
  }

  &.opened{
    opacity: 1;
    left: 100%;
    visibility: visible;
  }

  @media screen and (max-width: 768px) {
    opacity: 1;
    visibility: visible;
    margin: 10px 0 0 0;
    transform: none;
    clear: both;
  }

  &:after{
    content: '';
    width: 0;
    height: 0;
    display: block;

    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right:7px solid #fff;

    position: absolute;
    right: 100%;
    top: 0;
    bottom: 0;
    margin: auto 0;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  div{
    border-radius: 4px;
    overflow: hidden;

    @media screen and (max-width: 768px) {
      border-radius: 0;
    }
  }

  table{
    width: 155px;
    min-height: 60px;
    background-color: #fff;
    border: 0;
    border-spacing: 0;
    text-align: center;

    @media screen and (max-width: 768px) {
      width: 100%;
      min-height: none;
      border: 1px solid #c7c7c7;
      border-collapse: collapse;
    }
  }

  th{
    background-color: $color-highlight;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    padding: 5px 0;
  }

  td{
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    min-height: 30px;
    color: #909090;
  }

  th,td{
    vertical-align: middle;
    @media screen and (min-width: 768px) {
      &:first-child{
        border-right: 1px solid #8c8b8b;
      }
      &:last-child{
        border-left: 1px solid rgba(#f8f7f7, 0.3);
      }
    }
  }
}
